
html,body {
    background-image: url(/static/images/phone/circle.png),url(/static/images/phone/BG.png);
    background-repeat: no-repeat,no-repeat;
    background-position: 50% 22px,50% 0%;
    background-size:252px 232px,100% 285px;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fun-icon {
	width: 70px;
	height: 50px;
	display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
	position: absolute;
	top: 0;
	left: 0;
}
.fun-icon a {
	display: block;
	padding-top: 45px;
	white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
}

.fun-icon.router {
    width: 150px;
    height: 120px;
	top: 70px;
    right: 0;
    left: 0;
	margin: 0 auto;
}

.fun-icon.list {
    width: 100%;
    height: calc(100% - 285px);
    top: 285px;
    text-align: left;
}

.fun-icon.list1 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65px;
    top: calc(100% - 65px);
    text-align: left;
}

.fun-icon.tools {
	background-image: url('/static/images/phone/tools.png');
    top: auto;
    bottom: 20%;
    left: auto;
    right: 10%;
}
.fun-icon.tools a{
	padding-top: 35px;
    color: #66a2d4;
    font-size:12px;
}

.fun-icon.application {
	background-image: url('/static/images/phone/application.png');
    top: auto;
    bottom: 20%;
    left: 42%;
}
.fun-icon.application a{
	padding-top: 35px;
    color: #66a2d4;
    font-size:12px;
}

.fun-icon.application_nogw {
	background-image: url('/static/images/phone/application.png');
    top: auto;
    bottom: 20%;
    left: 10%;
}
.fun-icon.application_nogw a{
	padding-top: 35px;
    color: #66a2d4;
    font-size:12px;
}
.fun-icon.wizard {
	background-image: url('/static/images/phone/wizard.png');
    top: auto;
    bottom: 20%;
    left: 10%;
}
.fun-icon.wizard a{
	padding-top: 35px;
    color: #66a2d4;
    font-size:12px;
}

.fun-icon.speed_up {
	background-image: url('/static/images/phone/speed_up.png');
    top: 3%;
    left: 70%;
    width: auto;
    height: auto;
    padding-left: 26px;
    background-position-x: 0;
}
.fun-icon.speed_up a{
	padding: 0;
}

.fun-icon.speed_down {
	background-image: url('/static/images/phone/speed_down.png');
    top: 3%;
    left: 10%;
    width: auto;
    height: auto;
    padding-left: 26px;
    background-position-x: 0;
}
.fun-icon.speed_down a{
	padding: 0;
}

.fun-icon.ram {
	background-image: url('/static/images/phone/ram.png');
    top: 180px;
    left: auto;
    right: 20%;
    width: 80px;
    height: 70px;
    background-position-y: 61%;
}

.fun-icon.cpu {
	background-image: url('/static/images/phone/cpu.png');
    top: 180px;
    left: 10%;
    width: 80px;
    height: 70px;
    background-position-y: 69%;
}

.content-home{width:100%;height: calc(100% - 65px);overflow-y:auto;}
.row:before,
.row:after{content:"";display:table;clear:both;}

.home{
    width:100%;
    border-bottom:2px #eee solid;
    min-height:60px;
}

.home-l{
    float:left;
    padding:5px 0;
	padding-left:10%;
    padding-right:20px;
}

.home-r{
    float:right;
    padding-top:25px;
	padding-right:10%;
}

.home-c{
    float:left;
    padding-top:20px;
    width:55%;
}

.home-c span{
    font-size:18px;
    word-wrap:break-word;
    word-break:normal;
}

img{padding:0;margin:0;color:#fff;}
p{padding:0;margin:0;color:#fff;}

/* 遮罩层选择 */
.main-mark-blur{-webkit-filter:blur(3px);-moz-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);}
.main-mark-content{margin:40% 8% 30% 8%;color:#fff;word-break:normal;}
.main-mark{width:100%;height:100%;position:fixed;top:0px;left:0;;background:rgba(0, 0, 0, 0.5);text-align:center;font-size:18px;z-index: 160;}
.main-mark .double button{width:40%;margin:0 5%;}
.main-mark .single button{width:50%;margin:0 25%;}
.main-mark-msg-box{width:40%;height:30%;margin:35% auto auto auto;background:transparent;-webkit-background-clip:content;border-radius:2px;text-align:center;}

.btn{float:left;width:100%;height:34px;font-size:16px;background:#43a7ff;color:#fff;border:0;border-radius:15px;text-transform:uppercase;}
.btn-cancel{background:#fff;color:#000}
