body{padding:0;margin:0;font-family:sans-serif;font-size:14px;background-color: rgb(255, 255, 255);}
a{text-decoration:underline;}

input{width:170px;height:22px;border:none;outline:none;background:#f0f0f0;border-radius:10px;padding:3px 0 3px 10px;}

select{-ms-appearance:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;width:180px;height:28px;padding: 0 18px 0 10px;outline:none;border-radius:10px;border:0px;background:url(/static/images/phone/sign_right.png) 96%  no-repeat  #f0f0f0 !important;font-size:12px;}
select::-ms-expand{display:none;}
select:focus{border:1px solid #2ea8dc;}

::-webkit-scrollbar{display:none;}

.c-switch{border:1px #fff solid;display:inline-block;width:44px;height:22px;background:#abb5bf;border-radius:50px;position:relative;}
.c-switch input[type="checkbox"]{position: absolute;opacity: 0;}
.c-switch label{display:block;width:20px;height:20px;border-radius:50%;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease;cursor:pointer;position:absolute;top:1.0px;z-index:1;left:3px;background:#f2f2f2;}
.c-switch input[type=checkbox]:checked+label{left:20px;}
.c-switch-active{background:#43a7ff;}
.c-switch-dis{background:#e0e0e0;}

.c-checkbox{display:inline-block;white-space:nowrap;position:relative;margin:10px;padding-left:40px;}
.c-checkbox input[type="checkbox"]{position:absolute;opacity:0;}
.c-checkbox label{cursor:pointer;position:absolute;width:1.2rem;height:1.2rem;top:0;left:0;background:#fff;border:1px solid #43a7ff;border-radius:5px;}
.c-checkbox .default{background:#fff;border:1px solid #43a7ff;}
.c-checkbox input[type="checkbox"]:checked+label:after{opacity:5;content:'';position:absolute;width:9px;height:4px;background:transparent;top:5px;left:4px;border:3px solid #43a7ff;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.c-checkbox input[type="checkbox"]:disabled+label{border:2px solid #b2b2b2;background:#b2b2b2;}
.c-checkbox label:before{content:'';margin-left:1.4rem;outline:none;position:relative;cursor:pointer;}
.c-checkbox .c-checkbox-k:before{content:'';margin-right:.2rem;margin-left:1rem;outline:none;position:relative;cursor:pointer;}

.c-icon-body{display:inline-block;}
.c-icon {display:inline-block;width:1.2rem;height:1.2rem;white-space:nowrap;position:relative;margin-right:0.5rem;}
.c-icon span{position:absolute;width:1.2rem;height:1.2rem;top:0;left:0;background:#43a7ff;border:2px solid #43a7ff;border-radius:50%;}
.c-icon span:before{content:'';outline:none;position:relative;}
.c-icon span:after{opacity:5;content:'';position:absolute;font-weight:bold;color:#fff;}
.c-icon .tick-icon:after{width:10px;height:6px;background:transparent;top:4px;left:5px;border:1px solid #fff;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}

/* 遮罩层选择 */
.main-mark-blur{-webkit-filter:blur(3px);-moz-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);}
.main-mark-content{margin:40% 8% 30% 8%;color:#fff;word-break:normal;}
.main-mark{width:100%;height:100%;position:fixed;top:0px;left:0;;background:rgba(0, 0, 0, 0.5);text-align:center;font-size:18px;z-index: 160;}
.main-mark .double button{width:40%;margin:0 5%;}
.main-mark .single button{width:50%;margin:0 25%;}
.main-mark-msg-box{width:40%;height:30%;margin:35% auto auto auto;background:transparent;-webkit-background-clip:content;border-radius:2px;text-align:center;}
	
.toper{float:left;width:100%;height:60px;background:#43a7ff;color:#fff;}
.content{float:left;width:88%;padding:3% 6%;}	
.footer{float:left;width:84%;padding:0 8%;}

.nav{float:left;width:88%;font-weight:bold;font-size:20px;color:#43a7ff;background:#fafafa;border-bottom:1px solid #ddd;padding:2% 6%;}
.nav-sw{float:left;width:17%;text-align:right;}

.btn{float:left;width:100%;height:34px;font-size:16px;outline: none;background:#43a7ff;color:#fff;border:0;border-radius:15px;text-transform:uppercase;}
.btn-gray{background:#f2f2f2;color:#000;}
.btn-cancel{background:#fff;color:#000}
.btn-red{background:#e6455a;}
.btn-green{background:#6fc969;}
    
.group{float:left;width:100%;padding-bottom: 10px;}
.space{float:left;width:100%;height:16px;}

.item-sw{float:left;width:auto;margin-top: 4px;}
.item-l{float:left;margin-top: 4px;}
.item-r{float:right;}
.item-link{float:right;width:auto;text-align:right;}
.item-tips{float:left;width:auto;text-align:left;}
.item-two{float:left;width:100%;padding:5px 0;}

.content-list{float:left;width:100%;}	

.list{float:left;width:100%;border-bottom:1px solid #ddd;}
.list-l{float:left;width:18%;padding-top:4%;padding-left:4%;}
.list-c{float:left;width:60%;text-align:left;font-size:12px;}
.list-r{float:right;padding-top:9%;padding-right:4%;}
.list-r-img{float:left;width:10%;padding-top:25px;}

.list2{float:left;width:100%;border-bottom:1px solid #ddd;}
.list2-l{float:left;width:18%;padding-top:2%;padding-left:4%;}
.list2-c{float:left;width:60%;padding-top:2%;font-size:9px;text-align:left;}
.list2-r{float:right;padding-top:5%;padding-right:4%;}

.list3{float:left;width:100%;border-bottom:1px solid #ddd;}
.list3-l{float:left;width:20%;padding-top:10px;padding-left:2%;text-align:center;}
.list3-c{float:left;width:60%;padding-top:16px;padding-left:2%;}
.list3-r{float:right;padding-top:30px;padding-right:4%;}

.list4{float:left;width:100%;border-bottom:1px solid #ddd;}
.list4-l{float:left;width:18%;padding-top:4%;text-align:center;}
.list4-c{float:left;width:60%;text-align:left;padding-top:2%;}
.list4-r{float:right;padding-top:9%;padding-right:4%;}
.list4-r-img{float:left;width:4%;padding-top:8%;}

.header-main{width:100%;}
.main-content{display:flex;background:#f7f7f7;padding:0 1.2%;border-bottom:1px solid #ddd;}
.main-img{margin-left:2%;}
.main-img img{width:45px;}
.main-text{padding:0 0 0 2%;font-size:20px;font-weight:bold;color: #43a7ff;}
.img-invert{-webkit-filter:invert(25%);filter:invert(25%);}

.btn-header-back{margin:0%}
.btn-header-back-main{position:fixed;width:100%;background:#66a2d4;height:60px;color:#fff;z-index:1006;}
.btn-header-back-main .main{padding:1% 3%;} 
.btn-header-back-main b{margin:0;}

.mode{display: inline-block;background-repeat: no-repeat;background-position: 50% 0;position: absolute;left: 0;width: 100%;height: 65px;top: 60px;text-align: left;}
.mode div{display: block;}

.content-pad{background:#fff;width:100%;border-radius:10px;overflow-y:auto;}
.main-pad{padding:1% 0%;}
.fun{width:100%;border-bottom:2px #eee solid;min-height:60px;}
.fun-l{float:left;padding-top:10px;padding-left: 8%;}
.fun-c{float:left;padding-top:16px;padding-left:15px;width:60%;}
.fun-c span{font-size:16px;word-wrap:break-word;word-break:normal;}
.fun-r{float:right;padding-top:20px;padding-right:8%;}

.content-tab{float:left;width:100%;}
.tab{width:100%;border-bottom:1px solid #eee;min-height:60px;}
.tab-l{float:left;padding-top:2%;padding-left:4%;}
.tab-c{float:left;padding-top:15px;padding-left:4%;font-size: 20px;}
.tab-r{float:right;padding-top:20px;padding-right:4%;}
.main-flag{z-index:6000; width:100%;height:100%;position:fixed;text-align:center;top:0px;left:0;background:#fff no-repeat;background-size:cover;color:#000;font-size:18px;padding-top:2%;}

.dot i{float:left;width:8px;height:8px;line-height:8px;border-radius:8px;background:#b2b2b2;border:1px solid #b2b2b2;margin-right:5%;}
.dot .active{background:#43a7ff;border:1px solid #43a7ff;}

.content-info{width:96%;padding:2%;margin:4% 0;background:#f2f2f2;border-radius:10px;}
.group-info{margin:2% 1%;}
.info-t{font-size:16px;font-weight:bold;color:#fff;background:#66a2d4;border-radius:8px;padding:1% 10px;}
.info-l{width:40%;display:inline;}
.info-r{float:right;width:60%;text-align:right;display:inline;}

button:disabled{
	background-color: #E3E3E3 !important;
	color: #CDC9C9 !important;
}



.t_table3{margin-bottom:14px;min-width:100%;}
.t_table3 th,.t_table3 td{padding:8px 0;line-height:34px;text-align:center;vertical-align:top;border-bottom:1px solid #bbb;} 
.t_table3 th{background:#ffffff;color:#000000} 
.t_table3 thead th{vertical-align:bottom;} 
.t_table3 tbody tr:hover td,
.t_table3 tbody tr:hover th{background:#f1f1f1;} 
